body {
  background-color: rgb(238, 245, 242);
  padding-top: 8%;
  min-height: 100vh;
}

main {
  margin-bottom: 3rem; /* changed from 5% to 3rem */
}

a {
  text-decoration: none;
}

p {
  margin: 0%;
}

ul {
  list-style: none;
}

.some {
  color: #f8f9fa;
}

.some:hover {
  color: #0d6efd;
}

footer {
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer p {
  margin: 0;
}

footer ul {
  padding-left: 0;
}

hr {
  background-color: #0d6efd;
}

#error {
  height: 50%;
}

.stores {
  text-align: center;
}

#store-list {
  height: 8em;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.stores-btn {
  width: 16em;
  height: 4em;
  background-color: #0d6efd;
  color: #f8f9fa;
}

.stores-btn:hover {
  background-color: #f8f9fa;
  color: #0d6efd;
}

.section-header {
  padding-left: 2rem;
  margin-top: 2.4rem;
}

#about-container {
  justify-content: space-between;
  align-items: center;
}

#about-img {
  width: 100%;
}

#store-image {
  width: 100%;
  height: auto;
  min-width: 100%;
}

#chart {
  width: 100%;
  max-width: 800px;
}

@media (min-width: 1200px) {
  .header-start {
    font-size: 150px;
    margin-top: -160px;
  }
  .header-middle {
    font-size: 50px;
  }
}
@media (max-width: 1200px) {
  .header-start {
    font-size: 70px;
    margin-top: -90px;
  }
  .header-middle {
    font-size: 40px;
  }
}

@media (max-width: 990px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
  }
  body {
    padding-top: 10%;
  }
  #about-text {
    padding-left: 2%;
    padding-right: 2%;
    font-size: smaller;
  }
  .page-header {
    padding-top: 8%;
  }
}

@media (min-width: 991px) {
  #about-text {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 800px) {
  .header-start {
    font-size: 35px;
    margin-top: -70px;
  }
  .header-middle {
    font-size: 20px;
  }
}
